@import "assets/styles/bulma";

.multi-label {
  padding: 5px;
  margin: 0px;
  width: 100%;
  border-bottom: 1px solid $cimba-separator;
}

.add,
.edit {
  border-left: 1px solid $cimba-separator;
  width: -webkit-calc(100% - 50px);
  width: -moz-calc(100% - 50px);
  width: calc(100% - 50px);
}
