@import 'assets/styles/bulma';

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-content-wrap {
  width: 100%;
  min-height: calc(100% - 60px);
  display: flex;
  flex-direction: row;
}

.layout-content {
  width: 100%;
  overflow-x: hidden;
  padding: 50px;
}
