@import 'assets/styles/bulma';

.cimba-title {
  &.dark {
    color: $cimba-logo-text-color;
  }

  &.light {
    color: $cimba-dark-font-color;
  }
}

figure.cimba-logo-image {
  display: flex;
  align-items: center;
  margin-right: 0.3em;
}
