@import 'assets/styles/bulma';

.navbar {
  width: 100%;
  min-height: $cimba-navbar-height;
  height: $cimba-navbar-height;
  border-bottom: 1px solid lighten($cimba-separator, 40);
  background: $cimba-dark-blue;
  padding: 0em 2em;
}
